<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.unknown100name.ecommercebackend.dao.ShoppingCarMapper">

    <sql id="shoppingCarDTOProperty">
        user_id
    </sql>

    <sql id="innerShoppingCarDTOProperty">
        id, number, inner_item_id
    </sql>

    <resultMap id="shoppingCarDTO" type="org.unknown100name.ecommercebackend.pojo.dto.ShoppingCarDTO">
        <result column="user_id" property="userId" javaType="java.lang.Long" jdbcType="BIGINT"/>

        <collection property="innerShoppingCarList" ofType="org.unknown100name.ecommercebackend.pojo.dto.InnerShoppingCarDTO" select="org.unknown100name.ecommercebackend.dao.ShoppingCarMapper.getInnerShoppingCarByUserId" column="user_id"/>
    </resultMap>

    <resultMap id="innerShoppingCarDTO" type="org.unknown100name.ecommercebackend.pojo.dto.InnerShoppingCarDTO">
        <id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="number" property="number" javaType="java.lang.Integer" jdbcType="INTEGER"/>

        <association property="innerItemDTO" javaType="org.unknown100name.ecommercebackend.pojo.dto.InnerItemDTO" select="org.unknown100name.ecommercebackend.dao.ItemMapper.getInnerItemById" column="inner_item_id"/>
    </resultMap>

    <insert id="create">
        INSERT INTO shopping_car(id, user_id, inner_item_id, number)
        VALUES (#{id}, #{userId}, #{innerItemId}, 1)
    </insert>

    <update id="increase" parameterType="long">
        UPDATE shopping_car
        SET shopping_car.number = shopping_car.number + 1
        WHERE user_id = #{userId} AND inner_item_id = #{innerItemId}
    </update>

    <update id="decrease" parameterType="long">
        UPDATE shopping_car
        SET shopping_car.number = shopping_car.number - 1
        WHERE user_id = #{userId} AND inner_item_id = #{innerItemId}
    </update>

    <delete id="delete">
        DELETE FROM shopping_car
        WHERE user_id = #{userId} AND inner_item_id = #{innerItemId}
    </delete>

    <select id="getShoppingCarByUserId" resultMap="shoppingCarDTO">
        SELECT <include refid="shoppingCarDTOProperty"/>
        FROM shopping_car sc
        WHERE sc.user_id = #{userId}
        GROUP BY sc.user_id
    </select>

    <select id="getInnerShoppingCarByUserId" resultMap="innerShoppingCarDTO">
        SELECT <include refid="innerShoppingCarDTOProperty"/>
        FROM shopping_car sc
        WHERE sc.user_id = #{userId}
    </select>

    <select id="getInnerShoppingCarByUserIdAndInnerItemId" resultMap="innerShoppingCarDTO">
        SELECT <include refid="innerShoppingCarDTOProperty"/>
        FROM shopping_car sc
        WHERE sc.user_id = #{userId} AND sc.inner_item_id = #{innerItemId}
    </select>

</mapper>