<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.unknown100name.ecommerce.recommend.dao.UserActivityMapper">

	<!-- 所有的用户行为表的字段 -->
	<sql id="userActivityProperty">
	   user_id, category_two_id, hits
	</sql>

	<!-- 查询出所有的用户行为 -->
	<select id="listAllUserActivity" resultType="org.unknown100name.ecommerce.recommend.pojo.entity.UserActivity">
	   SELECT <include refid="userActivityProperty" />
	   FROM user_activity
	</select>
	
	<!-- 根据用户已有的行为信息获取它对某个二级类目的点击量 -->
	<select id="getHitsByUserActivityInfo" parameterType="org.unknown100name.ecommerce.recommend.pojo.entity.UserActivity" resultType="java.lang.Integer">
	   SELECT hits FROM user_activity
	   WHERE user_id = #{userId} AND category_two_id = #{categoryTwoId}
	</select>
	
	<!-- 统计某个用户的行为记录的条数 -->
	<select id="countUserActivity" parameterType="org.unknown100name.ecommerce.recommend.pojo.entity.UserActivity" resultType="java.lang.Integer">
       	SELECT COUNT(*) FROM user_activity
       	WHERE user_id = #{userId} AND category_two_id = #{categoryTwoId}
	</select>
	
	<!-- 向用户行为表中添加一条用户的行为记录 -->
	<insert id="saveUserActivity" parameterType="org.unknown100name.ecommerce.recommend.pojo.entity.UserActivity">
	   INSERT INTO user_activity(user_id, category_two_id, hits)
	   VALUES(#{userId}, #{categoryTwoId}, #{hits})
	</insert>

    <!-- 更新用户对某个二级类目的点击量 -->
    <update id="updateUserActivity" parameterType="org.unknown100name.ecommerce.recommend.pojo.entity.UserActivity">
        UPDATE user_activity SET hits = #{hits}
        WHERE user_id = #{userId} AND category_two_id = #{categoryTwoId}
    </update>

</mapper>