<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.unknown100name.ecommercerecommend.dao.CategoryMapper">

    <select id="getCategoryTwoList" resultType="entity.CategoryTwo">
        SELECT category_two_id, category_two_name, category_one_id
        FROM category_two
    </select>
</mapper>