<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.unknown100name.ecommercerecommend.dao.UserActivityMapper">

	<!-- 所有的用户行为表的字段 -->
	<sql id="userActivityProperty">
	   user_id, category_two_id, hits
	</sql>

	<!-- 按照 userIdList 查询出所有的用户行为 -->
	<select id="listUserActivityByUserIdList" resultType="org.unknown100name.ecommercerecommend.pojo.entity.UserActivity">
		SELECT <include refid="userActivityProperty" />
		FROM user_activity ua
		WHERE ua.user_id IN
		<foreach collection="userIdList" item="userId" index="index" open="(" close=")" separator=",">
			#{userId}
		</foreach>
	</select>

	<insert id="registerNewUser">
		INSERT INTO user_activity(user_id, category_two_id, hits)
		<foreach collection="categoryTwoIds" item="categoryTwo" index="index" separator=",">
			(#{userId}, #{categoryTwoIds.categoryTwoId} ,0)
		</foreach>
	</insert>



</mapper>